@{
    ViewData["Title"] = "signup";
    Layout = "_Layout";
}
<div class="signup-container">
    <div class="signup-box">

        <h2 class="title">Sign Up</h2>

        <!-- Stepper -->
        

        

        <!-- Form -->
        <form>
            <label>Full Name</label>
            <input type="text" placeholder="enter your name">

            <label>Email Address</label>
            <input type="email" placeholder="enter your email">

            <label>Password</label>
            <input type="password" placeholder="enter your password">

            <label>Confirm password</label>
            <input type="password" placeholder="confirm password">

            <button class="next-btn">Confirm</button>
        </form>

    </div>
</div>