    
@model front_end.ViewModel.AsHotelOwnerViewModel

@{
    ViewData["Title"] = "signup";
    Layout = "_Layout";
}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 90vh;">
    <div class="card shadow p-4" style="max-width: 500px; width: 100%; border-radius: 15px;">

        <!-- Title -->
        <h2 class="text-center mb-3 text-primary fw-bold">Sign Up</h2>

        <div class="d-flex justify-content-center align-items-center mb-3">
            <div class="rounded-circle bg-primary" style="width: 16px; height: 16px;"></div>
            <div class="flex-grow-1 bg-secondary mx-2" style="height: 4px;"></div>
            <div class="rounded-circle bg-secondary" style="width: 16px; height: 16px;"></div>
            <div class="flex-grow-1 bg-secondary mx-2" style="height: 4px;"></div>
            <div class="rounded-circle bg-secondary" style="width: 16px; height: 16px;"></div>
        </div>


        <!-- Step labels -->
        <div class="d-flex justify-content-between text-muted small mb-4 px-1">
            <span class="fw-bold text-primary">Personal Info</span>
            <span>Hotel Info</span>
            <span>Room Info</span>
        </div>

        <form asp-controller="Signup" asp-action="RegisterProvider" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label">UserName</label>
                <input asp-for="UserName" class="form-control" placeholder="Enter your User name">
            </div>

            <div class="mb-3">
                <label class="form-label">Full Name</label>
                <input asp-for="FullName" class="form-control" placeholder="Enter your name">
            </div>

            <div class="mb-3">
                <label class="form-label">Email</label>
                <input asp-for="Email" class="form-control" placeholder="Enter your email">
            </div>

            <div class="mb-3">
                <label class="form-label">Password</label>
                <input asp-for="Password" type="password" class="form-control" placeholder="Enter your password">
            </div>

            <button type="submit" class="btn btn-primary w-100 py-2">
                Next
            </button>
        </form>


    </div>
</div>
