@{
    ViewData["Title"] = "signup";
    Layout = "_Layout";
}
<div class="signup-page">
<div class="signup-box">
    <h3 class="text-primary fw-bold">Sign Up AS</h3>
    <p class="text-muted">Choose your role for better experience</p>

        <a asp-controller="Signup" asp-action="ascustomer" class="role-btn" style="display:block;">
            <div class="icon">👤</div>
            Customer
        </a>
        <a asp-controller="Signup" asp-action="ashotelowner" class="role-btn" style="display:block;">
            <div class="icon">🏨</div>
            Hotel Owner
        </a>

       

    
</div>
</div>